.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
    background: #3585FA;
}
.nav-link{
    margin-bottom: 5px;
    padding:5px;
    transition-delay: all 0.5s ease;
    text-align:center;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #3585FA;
    cursor: pointer;
}
.nav-link:hover{
    /* background:rgb(170, 66, 1); */
   font-weight: bold;
   font-size:1.1em;
}
.search-area{
    margin:auto;
    background:#fff;
    border-radius: 20px;
    color:#000;
    position: relative;
    padding:0;
}
.search:focus,.search-btn:focus{
    outline:none;
}
.search{
    width:300px;
    /* background:#fff; */
    border:0;
    height:40px;
    border-radius: 20px;
    padding:10px;
    font-size: 1.1em;
}
.search-btn{
    background:#FF5487;
    color:#fff;
    height:40px;
    border-radius: 0 20px 20px 0;
    border:0;
    margin-top:0;
    position: absolute;
    top:0;
    right:0;
    width:40px;

}
.brand{
    color:#FF5487;
}
.nav{
    display:flex;
    background: #3585FA;
    box-shadow: 0 2px 2px #727272;
    color:white;
    height:71px;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    list-style: none;
    background: #3585FA;

}.toggler{
    font-size: 25px;
    color:rgb(170, 66, 1);
    margin-right:20px;
    display: none;
    cursor: pointer;
}
.nav-left{
    flex-basis:60%;
}
.nav-right{
    flex-basis: 40%
}

.nav-left{
    display:flex;
    justify-content: space-between;
}
.nav-icon{
    font-size: 20px
}
.pill{
    background:#FF5487;
    color:#fff;
    position: absolute;
    border-radius: 50%;
    padding-right:5px;
    padding-left: 2px;
    top:-12px;
    right:-12px;
    font-size: 15px;
}

.has-pill{
    position: relative;
}

@media(min-width:1000px){
.nav-links{
    display: flex;
}
}
@media(max-width:1000px){

    .nav-right{
        flex-basis: 70%

    }
    .nav-left{
     flex-basis:30%;
    }
}

@media(max-width:700px){
   .nav-links{
       display: none;
       z-index: -1;
   }
   .toggler{
       display:block;
   }
   .nav{
       display: block;
   }
}