*{
    box-sizing:border-box;
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
    background: #3585FA;
}
.nav-link{
    margin-bottom: 5px;
    padding:5px;
    transition-delay: all 0.5s ease;
    text-align:center;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #3585FA;
    cursor: pointer;
    margin-top: 2%;
    margin-left:0;
    margin-right: 0;
   

}

.search-area{
    margin:auto;
    background:#fff;
    border-radius: 20px;
    color:#000;
    position: relative;
    padding:0;
}
.search:focus,.search-btn:focus{
    outline:none;
}
.search{
    width:500px;
    /* background:#fff; */
    border:0;
    height:40px;
    border-radius: 20px;
    padding:10px;
    padding-left:15px;
    font-size: 1.1em;
}
.search-btn{
    background:#FF5487;
    color:#fff;
    height:40px;
    border-radius: 0 20px 20px 0;
    border:0;
    margin-top:0;
    position: absolute;
    top:0;
    right:0;
    width:40px;

}
.brand{
    color:#fff;
    display: flex
}
.nav{
    display:flex;
    background: #3585FA;
    box-shadow: 0 2px 2px #727272;
    color:white;
    height:71px;
}
.nav-links{
    border-top:1px double rgb(97, 160, 255);
    margin-top:0;
    display:flex;
    justify-content: space-between;
    list-style: none;
    background: #3585FA;
    padding-left: 0;
    padding-top: 2%;
    z-index: 100;

}.toggler{
    font-size: 25px;
    color:#fff;
    margin-right:20px;
    display: none;
    cursor: pointer;
}
.nav-left{
    flex-basis:60%;
    background:#3585FA;
}
.nav-right{
    flex-basis: 40%
}

.nav-left{
    display:flex;
    justify-content: space-between;
}
.nav-icon{
    font-size: 20px
}
.drop-content{
    position: relative;
   
}
 .cart-item-image {
height: 50px;
width:50px;
}
.cart-item{
display:flex;
width:100%;
justify-content: space-around;
background:rgb(120, 168, 241);
align-items: center;
margin-top: 10px;

}
.nav-logo{
    height: 70px;
}
.cart .nav-drop-pointer{
    top:-24px;
    left:340px;

}
.cart{
    position: absolute;
    bottom: -400px;
    background:#3585FA;
    width:400px;
    left:-20px;
    border-radius: 10px;
    padding: 10px;
}
.cart-item-price{
    font-weight: bold;
    color:rgb(196, 35, 83);
}
.cart-items{
    position: relative;
    max-height:357px;
    overflow: auto;
}
.nav-drop{
    display:none;
    height:0;
    position:absolute;
    bottom:-40px;
    width:400px;
    border-radius: 14px; z-index: 4;
    box-sizing:border-box;
    padding:10px;
}
.mobile-nav{
    display:flex;
    justify-content: space-between;
    width:100%;
}
.nav-drop-pointer{
    position: absolute;
    width: 30px;
    height: 30px;
    background:#3585FA;
    top:-13px;
    left:15px;
    transform:rotateZ(45deg);
    z-index: -1;


}

.msgs{
    background:rgb(120, 168, 241);
    border-radius: 15px;
    padding:10px;
    margin:10px;
}
.message-screen{
    background:#3585FA;
    border-radius: 14px;
    position:absolute;
}
.message{
    color:#fff;
    background:#FF5487;
    padding:5px 2px;
    margin:10px 5px;
    border-radius:0 20px 20px 20px;
}
.pill{
    background:#FF5487;
    color:#fff;
    position: absolute;
    border-radius: 50%;
    padding-right:5px;
    padding-left: 2px;
    top:-12px;
    right:-12px;
    font-size: 15px;
}
.msg-avatar{
    height:40px;
    width:40px;
    clip-path: circle(50%);
}
.recieved{
    display:flex;
}
.msg-icon{
    margin-bottom: 5px;
    margin-left:70%;
}

.has-pill{
    position: relative;
}

@media(min-width:1000px){
.nav-links{
    display: flex;
}
}
@media(max-width:1000px){
    .search-btn{
      height: 30px;
    }
    .nav-logo{
        height: 40px;

    }
    .search{  font-size: 0.9em;
        height: 30px;
        width:300px;
    }
    .nav h3{
        margin-bottom: 0;
        margin-top:0.5em;
        padding: 0;
    }
    .nav-right{
        flex-basis: 70%

    }
    .nav-left{
     flex-basis:30%;
    }
}

@media(max-width:700px){
    .nav-left{
        display: block;
        text-align:center
    }
 
   .nav-links{
       display: none;
       z-index: -1;
   }
   .toggler{
       display:block;
   }
   .nav{
       display: block;
   }
}
.btn-p{
    background:#FF5487;
    color:#fff;
    padding:5px 10px;
    border:0;
    border-radius:10px;
    margin-top:10px;
}